<template name="HomeLayout">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    </head>
    <main>
        {{>HomeHeader}}
        {{>HomeBigHeaderImage}}
        {{>HomeContent}}
        {{>Footer}}
        {{>NotSoFastModal}}
        {{>LoginModal}}
    </main>
</template>

<template name="HomeHeader">
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="active item">Home</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
      <a class="active item">Home</a>
    </div>
</template>

<template name="HomeContent">
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui vertical stripe segment">
           <div class="ui text container">
               <h3 class="ui header">The big adventure!</h3>
              <p>It is true that we are not going to find a wizzard, climb a mountain slay a dragon and steal it's gold, but non the less it will be one of the bigest undertakings of our
              lives. So we will need all the help we can get from our friends and family.
              </p>
               <p>But what is this big adventure I am talking about? Well, it is just a big party, that we will organize for you guys. See you there!</p>
           </div>
        </div>

        <div class="ui grid">
          <div class="row">
              {{#if currentUser}}
                {{>PickYourSeat}}
              {{else}}
                <div class="center aligned column">
                    <a id='joinThePartyBtn' class="ui massive button green">Join the party in order to pick a seat</a>
                </div>
              {{/if}}
          </div>
        </div>
        {{#if currentUser}}
        <div class="ui center aligned top stripe segment">
            <div class="ui text container">
                <h1>Guest List</h1>
            </div>
            {{> GuestList}}
        </div>
        {{/if}}

      <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable externally celled grid">
          <div class="center aligned row">
            <div class="column">
              <h3>"Party Funds"</h3>
              <p>Help us make the party not only unforgetable for us</p>
              <div class="ui statistic">
                <div class="value">
                  0
                </div>
                <div class="label">
                  Party Funds
                </div>
              </div>
            </div>
            <div class="column">
              <h3>"Payment Details should go here "</h3>
              <button class="ui primary button">
                  Paypal button
              </button>
              <p>
                   Bank payment info
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui vertical stripe segment center aligned ">
         <div class="ui text container center aligned">
             <h3 class="ui header">Numbeer of guests attending the event</h3>
             <div class="ui statistic aligned center">
               <div class="value">
                 {{nrGuests}}
               </div>
               <div class="label">
                 Guests
               </div>
             </div>
         </div>
      </div>

      <div class="ui vertical stripe segment center aligned ">
         <div class="ui text container center aligned">
             <h3 class="ui header">Party Location</h3>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5682.205992839244!2d26.044856900419635!3d44.59491878558589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b21bb391332dd7%3A0x515102a88012a092!2sClub+Cortina!5e0!3m2!1sen!2sro!4v1459183400032" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
         <a href="http://www.clubcortina.ro/" class="ui large button">More Details</a>
      </div>


      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
          <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
          </h4>
          <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
        </div>
      </div>
  </div>
</template>

<template name="GuestList">
    <div class="ui stackable five column centered grid">
            {{#each guestsByTable}}
                <div class="column">
                    <div class="ui segment">
                        <div class="ui label large teal fluid">
                            Table {{selectedTableName}}
                        </div>
                        <table class="ui very basic collapsing celled table">
                          <thead>
                            <tr><th>Guest Name</th>
                            <th>Confirmed</th>
                          </tr></thead>
                        <tbody>
                            {{#each this}}
                                <tr>
                                  <td>
                                    <h4 class="ui image header">
                                      <div class="content">
                                        {{name}}
                                       </div>
                                  </h4></td>
                                  <td>
                                    how long ago
                                  </td>
                                </tr>
                            {{/each}}
                          </tbody>
                        </table>
                    </div>
                </div>
            {{/each}}
        </div>
</template>

<template name="Footer">
    <div class="pusher">
    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a href="/" class="item">Location</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Services</h4>
            <div class="ui inverted link list">
              <a href="/" class="item">Favorite X-Men</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="HomeBigHeaderImage">
    <div class="pusher">
      <div class="ui vertical masthead center aligned segment" style="background-image:url('/images/banner.jpg');background-size: cover !important;">
        <div class="ui container">
          <div class="ui large secondary pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a href='/' class="active item">Home</a>
            <div class="right item">
              <a class="ui button">{{>loginButtons}}</a>
            </div>
          </div>
        </div>

        <div class="ui text container">
          <h1 class="ui inverted header">
            Dan & Gabriela Wedding party !
          </h1>
          <h2>Let us know you are going to join the party by loging in and picking a seat at a table.
              You can also invite up to four other guests to our wedding. </h2>
          <div id='joinThePartyBtn' class="positive ui huge primary button">{{joinThePartyBtnLbl}}</div>
        </div>
      </div>
    </div>
</template>

<template name="PickYourSeat">
    {{#if Template.subscriptionsReady}}
            <div class="three wide column">
                {{#if isTableSelected}}
                    {{>ListWithPeopleAtTable}}
                {{/if}}
            </div>
            <div class="nine wide column canvas_element">
                <canvas id="canvas" class="fluid"></canvas>
            </div>
            <div class="one wide column">
                {{#if isInRole 'super'}}
                    {{> AdminMenu}}
                    {{> AddTableModal}}
                {{else}}
                    {{> UserMenu}}
                {{/if}}
            </div>
            {{initSettings}}
        {{> ConfirmSelectionModal}}
    {{else}}
        Loading...
    {{/if}}
</template>

<template name="ListWithPeopleAtTable">
    <div class="ui label large teal fluid">
        Table {{selectedTableName}}
    </div>
    <table class="ui very basic collapsing celled table">
      <thead>
        <tr><th>Guest Name</th>
        <th>Confirmed</th>
      </tr></thead>
    <tbody>
        {{#each guestsSeatingAtTable}}
            <tr>
              <td>
                <h4 class="ui image header">
                  <div class="content">
                    {{name}}
                   </div>
              </h4></td>
              <td>
                how long ago
              </td>
            </tr>
        {{/each}}
      </tbody>
    </table>
</template>

<template name="AdminMenu">
  <div class="ui compact basic segment ">
      Menu Title
    <div class="ui vertical menu">
      <a id="addTable" class="item"><i class="plus icon"></i> Add Table</a>
      <a id="removeTable" class="item"><i class="minus icon"></i> Remove Table</a>
      <a id="removeSeat" class="item"><i class="minus icon"></i> Remove person</a>
      <a id="editTableName" class="item"><i class="edit icon"></i> Table Name</a>
    </div>
  </div>
</template>

<template name="UserMenu">
  <div class="ui compact basic segment ">
    <div class="ui vertical icon menu">
      <a id="confirmSelectionBtn" class="item" data-content="Select at least one seat">
        <i class="add user icon"></i>
            Add Guests
       <div class="floating ui teal label">{{remainingInvitations}}</div>
      </a>
      <a class="item" id="clearSelectionBtn">
        <i class="remove user icon"></i>
        Remove Guest
       </a>
        <div class="ui flowing popup bottom right transition hidden" style="top: 200px; left: 0.909088px; bottom: auto; right: auto; width: 400px;">
          <div class="ui one column center aligned grid">
            <div class="column">
                {{#if takenSeatsSelected}}
                  <h4 class="ui header">Confirm</h4>
                  <p>You are going to remove the slelected guest(s)</p>
                  <div class="ui button" id="confirmClearSelection">Ok</div>
                {{else}}
                <h4 class="ui header">No selection found</h4>
                <p>Please select one of your confirmed seats.</p>
                {{/if}}
            </div>
          </div>
        </div>

    </div>
  </div>
</template>

<template name="NotSoFastModal">
    <div id="notSoFastDlg" class="ui modal">
        {{> NotSoFastDlg}}
    </div>
</template>
<template name="NotSoFastDlg">
<div class="ui one column centered grid">
  <div class="column">
          <div class="ui center aligned basic segment">
           <h1 class="ui header">We are sorry <i class="fa fa-frown-o"></i> </h1>
              <p>Only our friends and family can attend the wedding reception</p>
              <p>If you are part of our friends and family please provide the password from the invitation letter</p>
          </div>
          <div class="ui center aligned basic segment">
              <div class="ui input fluid">
                <input id="invitationPass" class="invitationPass" placeholder="Password from the invitation letter" type="text" value="">
              </div>
          </div>
          <div class="ui center aligned basic segment">
              <button id="checkPassBtn" class="circular positive ui button">Ok</button>
          </div>
  </div>
</div>
</template>
<template name="LoginModal">
    <div id="loginModal" class="ui modal">
        {{>LoginDlg}}
    </div>
</template>
