<template name="HomeLayout">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    </head>
    <main>
        {{>HomeBigHeaderImage}}
        <div class="ui container-fluid">
            {{>HomeContent}}
        </div>
        {{>Footer}}
        {{>NotSoFastModal}}
        {{>LoginModal}}
    </main>
</template>

<template name="HomeContent">
        {{#if currentUser}}
        {{else}}
        <div class="ui center aligned segment adventure">
            <h1 class="ui header center aligned">{{BigPartyTitleText}}</h1>
           <div class="ui text container center aligned" >
              <p>{{BigPartyMainText}}</p>
           </div>
        </div>
        {{/if}}
        {{#if currentUser}}
          {{>PickYourSeat}}
          <div class="ui center aligned segment selectSeat">
              <h1>{{GuesteListTitle}}</h1>
              {{> GuestList}}
          </div>
        {{else}}
            <div class="ui center aligned segment selectSeat">
              <a id='joinThePartyBtn' class="ui massive button green">Join the party</a>
            </div>
        {{/if}}

      <div class="ui segment center aligned selectSeat">
         <h1>{{PartyFundsText}}</h1>
          <h3>Bank Transfer </h3>
          <div class="ui list align left">
            <a class="item">
              <div class="ui horizontal label">IBAN</div>
              RO34INGB0000999901163329
            </a>
            <a class="item">
              <div class="ui horizontal label">NAME</div>
              Gabriela Georgescu
            </a>
            <a class="item">
              <div class="ui horizontal label">SWIFT</div>
              INGBROBU
            </a>
            <a class="item">
              <div class="ui horizontal label">BIC</div>
              606410008
            </a>
          </div>
          <h3>Donate</h3>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="SFMTUEK82Y6UC">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
      </div>

      <div class="ui segment center aligned selectSeat">
        <h1>{{ConfirmedGuests}}</h1>
         <div class="ui huge statistic">
             <div class="value">
               {{nrGuests}}
             </div>
             <h4 class="ui center aligned icon header"> <i class="circular users icon"></i> </h4>
         </div>
      </div>
      <div class="ui segment center aligned selectSeat">
          <h1>{{LocationText}}</h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5682.205992839244!2d26.044856900419635!3d44.59491878558589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b21bb391332dd7%3A0x515102a88012a092!2sClub+Cortina!5e0!3m2!1sen!2sro!4v1459183400032" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
</template>

<template name="GuestList">
      <div class="ui stackable four column centered grid">
              {{#each guestsByTable}}
                  <div class="column">
                          <div class="ui label large {{isTableSelected this.id}} fluid">
                              <i class="large film icon"></i> Table {{this.name}}
                              <table class="ui striped table center aligned">
                                <thead>
                                  <tr>
                                    <th>Guest</th>
                                    <th>Confirmed</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {{#each this.seats}}
                                      <tr>
                                        <td>
                                          <h4 class="ui image header">
                                            <div class="content">
                                              {{this.name}}
                                             </div>
                                        </h4></td>
                                        <td>
                                          {{formatDate this.createdAt}}
                                        </td>
                                      </tr>
                                  {{/each}}
                                </tbody>
                              </table>
                        </div>
                  </div>
              {{/each}}
          </div>
</template>

<template name="Footer">
    <div class="pusher">
    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Location</h4>
            <div class="ui inverted link list">
              <a href="http://www.clubcortina.ro/" class="item">Club Cortina</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Contact</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Telefone:</a>
              <a href="#" class="item">Dan  +40727058069</a>
              <a href="#" class="item">Gabriela +40723191925</a>
              <a href="#" class="item">Email:</a>
              <a href="#" class="item">dan.sava42(at)gmail.com</a>
              <a href="#" class="item">gabriela.georgescu(at)gmail.com</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Schedule</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">18:00 - Wedding Ceremony</a>
              <a href="#" class="item">19:45 - Welcoming Guests</a>
              <a href="#" class="item">20:00 - Party Starts</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="HomeBigHeaderImage">
      <div class="ui vertical masthead center aligned segment" style="background-image:url('/images/banner.jpg');background-size: cover !important;">
        <div class="ui container">
          <div class="ui large secondary pointing menu">
            <div class="left item">
                <a id='loginBtn' class="ui positive button">{{loginBntLbl}}</a>
            </div>
            <div class="right item">
              <div class="ui languagedropdown floating dropdown labeled icon button positive">
                <i class="world icon"></i>
                <span class="text"><i class="gb flag"></i> ENG </span>
                <div class="menu">
                  <div class="item" id='langEng'><i class="gb flag"></i> ENG </div>
                  <div class="item" id='langRo'><i class="ro flag"></i> RO </div>
                  <div class="item" id='langSp'><i  class="es flag"></i> SP </div>
                  <div class="item" id='langNl'><i class="nl flag"></i> NL </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="ui text container">
          <h1 class="ui inverted header">
            Dan & Gabriela <br> Wedding Party <br> 03.09.2016
          </h1>
          <h2> {{MainText}}</h2>
        </div>
      </div>
</template>

<template name="PickYourSeat">
    {{#if Template.subscriptionsReady}}
        <div class="ui center aligned segment selectSeat">
            {{#if isInRole 'super'}}
                {{> AdminMenu}}
                {{> AddTableModal}}
            {{else}}
            {{> UserMenu}}
            {{/if}}
        </div>
        <div class="ui center aligned segment selectSeat canvas_element">
            <canvas id="canvas" class="fluid"></canvas>
        </div>
        {{initSettings}}
        {{> ConfirmSelectionModal}}
    {{else}}
        Loading...
    {{/if}}
</template>


<template name="AdminMenu">
  <div class="ui compact basic segment ">
      Menu Title
    <div class="ui vertical menu">
      <a id="addTable" class="item"><i class="plus icon"></i> Add Table</a>
      <a id="removeTable" class="item"><i class="minus icon"></i> Remove Table</a>
      <a id="editTableName" class="item"><i class="edit icon"></i> Table Name</a>
      <a id="adminAddGuest" class="item"><i class="plus icon"></i> Add Guest(s)</a>
      <a id="adminRemoveGuest" class="item"><i class="minus icon"></i> Remove Guest(s)</a>
    </div>
  </div>
</template>

<template name="UserMenu">
    <h1>Selection Options</h1>
    <div class="ui compact menu">
      <a id="confirmSelectionBtn" class="item">
        <i class="add user icon"></i>
            {{SelectionBtnTxt.confirm}}
       <div class="floating ui green label">{{remainingInvitations}}</div>
      </a>
      <a class="item" id="clearSelectionBtn">
        <i class="remove user icon"></i>
        {{SelectionBtnTxt.cancel}}
       </a>
        <div class="ui flowing popup bottom right transition hidden" style="top: 200px; left: 0.909088px; bottom: auto; right: auto; width: 400px;">
          <div class="ui one column center aligned grid">
            <div class="column">
                {{#if takenSeatsSelected}}
                  <h4 class="ui header">{{ConfirmSelectionTxt}}</h4>
                  <div class="ui button" id="confirmClearSelection">Ok</div>
                {{else}}
                <h4 class="ui header">{{ChangeSeats}}</h4>
                {{/if}}
            </div>
          </div>
        </div>
    </div>
</template>

<template name="NotSoFastModal">
    <div id="notSoFastDlg" class="ui modal">
        {{> NotSoFastDlg}}
    </div>
</template>

<template name="NotSoFastDlg">
<div class="ui one column centered grid">
  <div class="column">
          <div class="ui center aligned basic segment sorry">
              <h2>{{SorryText.one}}</h2>
               <h2 >
                   <i class="male icon"></i>
                   <i class="diamond icon"></i>
                   <i class="female icon"></i>
                   <i class="arrow right icon"></i>
                   <i class="users icon"></i>
                   <i class="cocktail icon"></i>
                   <i class="birthday icon"></i>
                   <i class="gift icon"></i>
                   <i class="plane icon"></i>
                   <i class="world icon"></i>
               </h2>
           <p>{{SorryText.two}}</p>
           <p>{{SorryText.three}}</p>
          </div>
          <div class="ui center aligned segment">
              <div class="ui input fluid">
                <input id="invitationPass" class="invitationPass" placeholder="{{PasswordPlacehoderText}}" type="password" value="">
              </div>
              <br>
              <button id="checkPassBtn" class="circular positive ui button fluid ">Ok</button>
          </div>
  </div>
</div>
</template>
<template name="LoginModal">
    <div id="loginModal" class="ui modal">
        {{>LoginDlg}}
    </div>
</template>
