<template name="MainLayout">
    <main>
        {{>HomeHeader}}
        {{>HomeBigHeaderImage}}
        <div class="ui container-fluid">
            {{>Test}}
        </div>
        {{>Footer}}
    </main>
</template>

<template name="Test">
    <div class="ui one column stackable grid container">
        <div class="column">
            <h1>Please Pick a Seat!</h1>
        </div>
    </div>
    <div class="ui one column stackable grid container">
        <div class="column">
            <canvas id="canvas" width="1200" height="1000" style="border:1px solid #000000;"></canvas>
        </div>
    </div>
    <button class="openModal">Click Me</button>
     <p>Form value: {{formValue}}</p>
     {{>NotSoFast}}
     <div class="ui button test">Activator</div>
       <div class="ui fluid popup bottom left transition hidden" style="top: 552.131px; left: 0.909091px; bottom: auto; right: auto; width: 783px;">
           <div class="ui four column relaxed divided grid">
             <div class="column">
               <h4 class="ui header">Fabrics</h4>
               <div class="ui link list">
                 <a class="item cashmere" id="cashmere">Cashmere</a>
                 <a class="item">Linen</a>
                 <a class="item">Cotton</a>
                 <a class="item">Viscose</a>
               </div>
             </div>
             <div class="column">
               <h4 class="ui header">Size</h4>
               <div class="ui link list">
                 <a class="item">Small</a>
                 <a class="item">Medium</a>
                 <a class="item">Large</a>
                 <a class="item">Plus Sizes</a>
               </div>
             </div>
           </div>
     </div>
</template>

<template name="NotSoFast">
    <div id="modalView" class="ui modal">
        <div class="header">
                Not so fast!
        </div>
      <div class="content">
          <div class="ui container center">
              <h3 class="ui header"> Only friends and family can attend the wedding </h3>
                <p>And if you are part of our friends and family please povide the
                   given password</p>
          </div>
        <div class="ui fluid form">
            <div class="ui fluid input">
              <input id="modalInputValue" placeholder="Password" type="text" value="{{formValue}}">
            </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui button cancel">Cancel</div>
        <div class="ui button ok">OK</div>
      </div>
    </div>

</template>
