<template name="MainLayout">
    <main>
        {{>HomeHeader}}
        {{>HomeBigHeaderImage}}
        <div class="ui container-fluid">
            {{>Test}}
        </div>
        {{>Footer}}
    </main>
</template>

<template name="Test">

    <div class="ui small icon buttons">
      <div class="ui button">
        <i class="user icon"></i>
      </div>
      <div class="ui button">
        <i class="users icon"></i>
      </div>
      <div class="ui active button ">
        <i id='spain' href='#' class="es flag"></i>
      </div>
    </div>

    <div class="ui test floating dropdown labeled icon button positive">
      <i class="world icon"></i>
      <span class="text"><i id='' href='#' class="gb flag"></i> GB </span>
      <div class="menu">
        <div class="item"><i id='' href='#' class="ro flag"></i> RO </div>
        <div class="item"><i id='' href='#' class="gb flag"></i> GB </div>
        <div class="item"><i id='' href='#' class="es flag"></i> SP </div>
        <div class="item"><i id='' href='#' class="nl flag"></i> NL </div>
      </div>
    </div>


</template>
