<template name="MainLayout">
    <main>
        {{>HomeHeader}}
        {{>HomeBigHeaderImage}}
        <div class="ui container-fluid">
            {{>Test}}
        </div>
        {{>Footer}}
    </main>
</template>

<template name="Test">
    <i class="wrench icon"></i>
    <button class="openModal">Click Me</button>
     <p>Form value: {{formValue}}</p>
     {{>LoginDlg}}
     <div class="ui icon button" data-content="Add users to your feed">
      <i class="add icon"></i>
    </div>

</template>
